{{lookup-form zipLookup="zipLookup"}}
<button {{action 'allCommittees'}}>See All Committees</button>
<button {{action 'allBills'}}>See All Bills</button>
<button {{action 'allUpcomingBills' "senate"}}>See All Upcoming Senate Bills</button>
<button {{action 'allUpcomingBills' "house"}}>See All Upcoming House Bills</button>
